
.sblog{
    padding-top: 128px;
    @media (max-width: $tablet) {
       padding-top: 64px;
    }

    &__tag{
        color: $color-grey-500;
        padding-bottom: 24px;
        @media (max-width: $tablet) {
            padding-bottom: 16px;
        }
    }
    &__title{
        max-width: 640px;
        padding-bottom: 48px;
        @media (max-width: $tablet) {
            max-width: 288px;
            padding-bottom: 16px;
        }
    }

    &__info{
        max-width: 285px;
        display: flex;
        justify-content: space-between;
        gap: 39px;
        margin-bottom: 64px;
        @media (max-width: $tablet) {
            flex-direction: column;
            gap: 8px;
            margin-bottom: 39px;

        }
        
    }

    &__info-text{
        display: flex;
        justify-content: space-between;
        gap: 8px;
        @media (max-width: $tablet) {
            justify-content:flex-start;

        }
    
    }
    &__info-date, &__info-comments,&__info-comments1{
        color: $color-grey-500;
    }
    &__img{
        margin-bottom: 41px;
    }
    &__info-comments1{
        display: none;
        @media (max-width: $tablet) {
            display: block;   
        }
    }
    &__info-comments{
        display: block;
        @media (max-width: $tablet) {
            display: none;   
        }
    }

}
//--Section sblog End

//--section description
.description {

    &__writer{
        display: flex;
        align-items: center;
        gap:8px;
        margin: 41px 0px 39px 260px;
        @media (max-width: $tablet) { 
            margin: 39px 0px 43px 0px;
        }
    }

    &__social-items{
        display: flex;
        flex-direction: column;
        gap: 23px;
        position: sticky;
        @media (max-width: $tablet) {
            flex-direction: row;    
        }
    }
    &__writer-img{
        max-width: 70px;
    }
    &__rows{
        max-width: 736px;
        @media (max-width: $tablet) {
            width: 100%;   
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        gap: 90px;
        @media (max-width: $tablet) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 32px;

    }
    &__content-line{
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-left: 2px solid $color-grey-500;
        margin-bottom: 32px;
        padding: 0 0 32px 64px;
        @media (max-width: $tablet) {
            padding: 0 0 31px 16px;
        }
    }
    &__content-line-text:last-child{
        color: $color-grey-500;

    }
    &__content-1-list{
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin: 32px 0 82px 20px;
    }

    &__content-1-list-item{
        list-style-type: disc;
    }
    &__tags{
        display: flex;
        gap:16px;
        max-width: 736px;
        border-bottom: 1px solid $color-grey;
        padding-bottom: 16px;
        @media (max-width: $tablet) {
            max-width: 288px; 
        }
    }
    &__tags-value{
        color: $color-grey-500;
        @media (max-width: $tablet) {
            color: $color-black;
        }
    } 
    &__tags-text{
        @media (max-width: $tablet) {
            color: $color-grey-500;
        }
    } 
}
//--section description end

.reply{
    &__container{
        max-width: 664px;
        margin-top: 96px;
        @media (max-width: $tablet) {
            margin-top: 64px;
        }
        
    }
    &__text{
        margin-bottom: 64px;
        color: $color-grey-500;
    }
    &__title{
        padding-bottom: 16px;
        @media (max-width: $tablet) {
            padding-bottom: 0px;
        }

    }
    &__title:first-child{
        color: $color-black;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        gap:43px;
        margin-bottom: 48px;
        @media (max-width: $tablet) {
            flex-direction: column;
            gap:24px;
            margin-bottom: 22px;
        }
    }

    &__fields-checkbox{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 48px;
        @media (max-width: $tablet) {
            margin-bottom: 26px;
        }
    }
    &__fields-checkbox-text{
        color: $color-grey-500;
    }
    
    &__btn{
        padding: 8px 34px;
        margin: 24px 0 96px 0;

    }
    
}

.comments{
    &__container{
        max-width: 664px;
        margin-bottom: 128px;
        @media (max-width: $tablet) {
            margin-bottom: 64px;
        }
    }
    &__img{
        width: 70px;
        height: 70px;
    }
    &__title{
        padding-bottom: 24px;
        color: $color-black;
    }
    &__column{
        display: flex;
        flex-direction: column;
        gap: 39px;
    }
    &__content,
    &__secondary{
        display: flex;
        gap:24px;
    }
    &__content-info-item,
    &__secondary-info-item{
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 16px;
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items:flex-start;
            gap: 16px;
        }
    }
    &__content-info-item-data,
    &__secondary-info-item-data{
        color: $color-grey-500;
    }
    &__secondary{
        padding-left: 96px;
    }
    &__content-info-text{
        margin-bottom: 16px;
        color:$color-grey1;
    }
    &__secondary-info-text{
        color: $color-grey1;
        padding-left: 5px;
        margin-bottom: 16px;
    }
    &__content-info-link,
    &__secondary-info-link{
        display: flex;
        gap:8px;   
    }
    &__content-info-link-text,
    &__secondary-info-link-text{
        color: $color-grey-500;
    }
}
.form__input{
    @media (max-width: $tablet) {
        width: 75%;
    }
}
    

